.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
border-width: 10px;
background-color: rgb(255, 255, 255);
border-style: ridge;
border-color: rgb(182, 160, 203);   
}